@font-face {
    font-family: 'icomoon';
    src:    url('/fonts/icomoon.eot?qceelj');
    src:    url('/fonts/icomoon.eot?qceelj#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?qceelj') format('truetype'),
        url('/fonts/icomoon.woff?qceelj') format('woff'),
        url('/fonts/icomoon.svg?qceelj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'icofont';
    src:    url('/fonts/icofont.eot?qceelj');
    src:    url('/fonts/icofont.eot?qceelj#iefix') format('embedded-opentype'),
        url('/fonts/icofont.ttf?qceelj') format('truetype'),
        url('/fonts/icofont.woff?qceelj') format('woff'),
        url('/fonts/icofont.svg?qceelj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src:  url('/fonts/Roboto-Light.ttf')
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoBold';
    src:  url('/fonts/Roboto-Bold.ttf')
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoMedium';
    src:  url('/fonts/Roboto-Medium.ttf')
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'caviar';
    src:  url('/fonts/CaviarDreams.ttf')
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'caviar_b';
    src:  url('/fonts/Caviar_Dreams_Bold.ttf')
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_r';
    src:  url('/fonts/BebasNeueRegular.ttf')
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'bebas_l';
    src:  url('/fonts/BebasNeueLight.ttf')
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'bebas_b';
    src:  url('/fonts/BebasNeueBold.ttf')
    font-weight: normal;
    font-style: normal;
    }
