@import "fonts.styl"
@import "media.styl"
verdeoscuro = #006142
verdeclaro  = #2CFAB7
verde       = #0dad7a
naranjaoscuro = #741C05
naranja     = #a03115
grisclaro   = #D9DAD9
gris        = #8c989e
verdetwo    = #00A79D
negrocla    = #403c45
celeste     = #439FE0
amarillo    = #FFC751
marron      = #81433B

//heartbeat animation

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.3);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
}


//UTIL
ul 
  list-style-type: none;
  margin: 0;
  padding: 0;
abbr
	color verdetwo
	

body
	font-family 'Helvetica Neue', Helvetica, arial, sans-serif
	text-align center
	margin 0
	padding 0
	font-size 16px
	width 100%
	display inline-block
	.page-wrapper
		display: inline-block;
		margin: 0;
		padding: 0;
		.intro
			display: inline-block;
			margin: 0;
			padding: 0;
			header
				box-sizing: border-box;
				height: 100vh;
				display: inline-block;
				position: relative;
				width: 100%;
				background url('/images/test.gif') no repeat
				background-size 100% 100%
				background-color: #a2d7c7;
				display: inline-block;
				align-items: center;
				color: #fff;
				display: flex;
				flex-direction: column;
				justify-content: center;
				position: relative;
				h1,h2
					color white
					display: inline-block;
					align-items: center;
					color: #fff;
					display: flex;
					flex-direction: column;
					justify-content: center;
					position: relative;
					font-size 4em
					margin 0

			.preamble
				float: left;
				text-align left
				color black
				position: relative;
				margin: 10px 12%;
				
				&:before
					content: "*";
					background: url('/images/img6.jpg') no-repeat;
					background-size: cover;
					position: absolute;
					color: transparent;
					display: inline-block;
					right: -22px;
					top: 10px;
					width: 240px;
					height: 237px;
					border-radius: 50%;
					box-shadow: 2px 2px 18px gray;
				p 
					width: 70%;
					float: left;
					padding: 0 10px;
					font-family: bebas_l;
					font-size: 30px;
				h3 
					font-family: robotoBold;
					font-size: 1.8em;
			.summary
				padding: 30px 15px;
				font-size: 2em;
				p
					display inline-block
					font-family: robotoLight;
					&:nth-child(2)
						font-size: 0.8em;
						font-family: robotoBold;
						a 
							color verde

		.main
			.explanation
				float: right;
				text-align right
				margin: 10px 12%;
				margin-top 10px
				position: relative;
				display: block;
				&:before
					content: "*";
					background: url('/images/img5.jpg') no-repeat;
					background-size: cover;
					left: 0;
					background-position: bottom;
					position: absolute;
					display: block;
					vertical-align: middle;
					color: transparent;
					top: 12px;
					display: inline-block;
					width: 240px;
					height: 237px;
					border-radius: 50%;
					box-shadow: 2px 2px 18px gray;
				h3 
					font-family: robotoBold;
					font-size: 1.8em;
				p 
					width 70%
					float right
					font-family: bebas_l;
					font-size: 30px;
					padding 0 10px
			.participation
				float: left;
				text-align left
				color black
				position: relative;
				margin: 10px 12%;
				&:before
					content: "*";
					background: url('/images/img6.jpg') no-repeat;
					background-size: cover;
					position: absolute;
					color: transparent;
					display: inline-block;
					right: -22px;
					top: 10px;
					width: 240px;
					height: 237px;
					border-radius: 50%;
					box-shadow: 2px 2px 18px gray;
				h3 
					font-family: robotoBold;
					font-size: 1.8em;
				p 
					width: 70%;
					float: left;
					font-family: bebas_l;
					font-size: 30px;
					padding: 0 10px;
					a 
						color verde
						text-decoration none
						font-weight bold
			.benefits
				padding: 30px 15px;
				display inline-block
				background verde 
				color white
			.requirements
				h3 
					display: inline-block;
					margin-top: 50px;
				p 
					color gris
					margin: 0 10%;
					line-height: 22px;
					font-family: robotoLight;
					&:nth-child(6)
						padding-top 92px
						background url('/images/img2.jpg') no-repeat
						height: 400px;
						opacity: 0.9;
						color white
						margin 0
					a 
						align-items: center;
						color: #fff;
						display: flex;
						flex-direction: column;
						justify-content: center;
						position: relative;
						font-size: 4em;
						margin: 0;
						z-index 5
			footer 
				position: relative;
				display: block;
				width: 100%;
				float: left;
				min-height: 150px;
				bottom: -300px;
				&:after
					content "\e900"
					font-family icomoon
					font-size 90px
					position: absolute;
					left: 46%;
					top: 50%;
					padding-bottom 50px
					color #de808c
					animation heartbeat 1.6s ease 0s infinite normal
				.zen-validate-html
					color gris
					//margin-left: 24px;
					position relative
					text-decoration none
					&:before
						content "\e905"
						font-size 16px
						font-family icofont
						position absolute
						top 21px
						left 28%
						text-decoration none
				.zen-validate-css
					color gris
					margin: 0 8px;
					text-decoration none
					position relative
					&:after
						content "\e907"
						font-size 16px
						font-family icofont
						position absolute
						top 21px
						left 50%
						text-decoration none
					&:before
						content "•"
						margin-right 8px
						text-decoration none
				.zen-license
					text-decoration none
					color gris
					position relative
					margin: 0 0px 0 8px;
					&:after
						content "\e900"
						font-size 16px
						font-family icofont
						position absolute
						top 21px
						left 50%
						text-decoration none
					&:before
						content "•"
						margin-right 8px
						text-decoration none
				.zen-accessibility
					color gris
					text-decoration none
					margin: 0 0px 0 8px;
					position relative
					&:before
						content "•"
						margin-right 8px
						text-decoration none
					&:after
						content "\e908"
						font-size 16px
						font-family icofont
						position absolute
						top 21px
						left 50%
						text-decoration none
				.zen-github
					color gris
					margin: 0 8px;
					text-decoration none
					position relative
					&:before
						content "•"
						margin-right 8px
						text-decoration none
					&:after
						content "\e904"
						font-size 16px
						font-family icofont
						position absolute
						top 21px
						left 50%
						text-decoration none
		.sidebar 
			position: absolute;
			/* display: block; */
			display: flex;
			width: 100%;
			justify-content: space-around;
			.wrapper 
				display: flex;
				width 100%
				justify-content: space-around;	
				h3 
					text-align left
				ul 
					li 
						text-align left
						a 
							&:nth-child(1)
								font-weight normal 
								color gris
								font-size 1em
								text-decoration  none
							&:nth-child(2)
								font-weight bold 
								color verdetwo
								font-size 1em
								text-decoration  none
