@import "fonts.styl"
@media (max-width: 970px)
	body 
		.page-wrapper 
			margin 0 
			.sidebar 
				.wrapper 
					display inline-block
					padding 0 10px
			.main 
				footer 
					bottom -550px
					&:after 
						left 35%
				.requirements
					h3 
						margin-top 20px
					p 
						padding-top 20px
						padding 10px 15px
						&:nth-child(6)
							height 240px
							background-size 100% 100%
						a 
							font-size 2em
							font-weight bold
				.participation
					&:before
						position initial !important
				.explanation 
					&:before
						position initial !important
			.intro 
				header 
					h1
						color white 
						line-height 55px
					h2 
						line-height 20px
						font-size 1.5em
						margin-top 10px
						abbr
							margin-top 5px
				.summary 
					padding 0
					p 
						padding 0 15px
				.preamble 
					&:before
						position initial !important
					