doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title CSS Zen Garden: The Beauty of CSS Design
    link(rel='stylesheet', media='screen', href='/css/app.css')
    link(rel='alternate', type='application/rss+xml', title='RSS', href='http://www.csszengarden.com/zengarden.xml')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='author', content='Dave Shea')
    meta(name='description', content='A demonstration of what can be accomplished visually through CSS-based design.')
    meta(name='robots', content='all')
    //if lt IE 9
      script(src='script/html5shiv.js')
  //
    View source is a feature, not a bug. Thanks for your curiosity and
    interest in participating!
    Here are the submission guidelines for the new and improved csszengarden.com:
    - CSS3? Of course! Prefix for ALL browsers where necessary.
    - go responsive; test your layout at multiple screen sizes.
    - your browser testing baseline: IE9+, recent Chrome/Firefox/Safari, and iOS/Android
    - Graceful degradation is acceptable, and in fact highly encouraged.
    - use classes for styling. Don't use ids.
    - web fonts are cool, just make sure you have a license to share the files. Hosted
    services that are applied via the CSS file (ie. Google Fonts) will work fine, but
    most that require custom HTML won't. TypeKit is supported, see the readme on this
    page for usage instructions: https://github.com/mezzoblue/csszengarden.com/
    And a few tips on building your CSS file:
    - use :first-child, :last-child and :nth-child to get at non-classed elements
    - use ::before and ::after to create pseudo-elements for extra styling
    - use multiple background images to apply as many as you need to any element
    - use the Kellum Method for image replacement, if still needed. http://goo.gl/GXxdI
    - don't rely on the extra divs at the bottom. Use ::before and ::after instead.
  body#css-zen-garden
    .page-wrapper
      section#zen-intro.intro
        header(role='banner')
          h1 CSS Zen Garden
          h2
            | The Beauty of 
            abbr(title='Cascading Style Sheets') CSS
            |  Design
        #zen-summary.summary(role='article')
          p
            | A demostration of what can be accomplished through 
            abbr(title='Cascading Style Sheets') CSS
            | -based design. Select any style sheet from the list to load it into this page.
          p
            | Download the example 
            a(href='/examples/index', title="This page's source HTML code, not to be modified.") html file
            |  and 
            a(href='/examples/style.css', title="This page's sample CSS, the file you may modify.") css file
        #zen-preamble.preamble(role='article')
          h3 The Road to Enlightenment
          p
            | Littering a dark and dreary road lay the past relics of browser-specific tags, incompatible 
            abbr(title='Document Object Model') DOM
            | s, broken 
            abbr(title='Cascading Style Sheets') CSS
            |  support, and abandoned browsers.
          p
            | We must clear the mind of the past. Web enlightenment has been achieved thanks to the tireless efforts of folk like the 
            abbr(title='World Wide Web Consortium') W3C
            | , 
            abbr(title='Web Standards Project') WaSP
            | , and the major browser creators.
          p
            | The CSS Zen Garden invites you to relax and meditate on the important lessons of the masters. Begin to see with clarity. Learn to use the time-honored techniques in new and invigorating fashion. Become one with the web.
      #zen-supporting.main.supporting(role='main')
        #zen-explanation.explanation(role='article')
          h3 So What is This About?
          p
            | There is a continuing need to show the power of 
            abbr(title='Cascading Style Sheets') CSS
            | . The Zen Garden aims to excite, inspire, and encourage participation. To begin, view some of the existing designs in the list. Clicking on any one will load the style sheet into this very page. The 
            abbr(title='HyperText Markup Language') HTML
            |  remains the same, the only thing that has changed is the external 
            abbr(title='Cascading Style Sheets') CSS
            |  file. Yes, really.
          p
            abbr(title='Cascading Style Sheets') CSS
            |  allows complete and total control over the style of a hypertext document. The only way this can be illustrated in a way that gets people excited is by demonstrating what it can truly be, once the reins are placed in the hands of those able to create beauty from structure. Designers and coders alike have contributed to the beauty of the web; we can always push it further.
        #zen-participation.participation(role='article')
          h3 Participation
          p
            | Strong visual design has always been our focus. You are modifying this page, so strong 
            abbr(title='Cascading Style Sheets') CSS
            |  skills are necessary too, but the example files are commented well enough that even 
            abbr(title='Cascading Style Sheets') CSS
            |  novices can use them as starting points. Please see the 
            a(href='http://www.mezzoblue.com/zengarden/resources/', title='A listing of CSS-related resources')
              abbr(title='Cascading Style Sheets') CSS
              |  Resource Guide
            |  for advanced tutorials and tips on working with 
            abbr(title='Cascading Style Sheets') CSS
            | .
          p
            | You may modify the style sheet in any way you wish, but not the 
            abbr(title='HyperText Markup Language') HTML
            | . This may seem daunting at first if you’ve never worked this way before, but follow the listed links to learn more, and use the sample files as a guide.
          p
            | Download the sample 
            a(href='/examples/index', title="This page's source HTML code, not to be modified.") HTML
            |  and 
            a(href='/examples/style.css', title="This page's sample CSS, the file you may modify.") CSS
            |  to work on a copy locally. Once you have completed your masterpiece (and please, don’t submit half-finished work) upload your 
            abbr(title='Cascading Style Sheets') CSS
            |  file to a web server under your control. 
            a(href='http://www.mezzoblue.com/zengarden/submit/', title='Use the contact form to send us your CSS file') Send us a link
            |  to an archive of that file and all associated assets, and if we choose to use it we will download it and place it on our server.
        #zen-benefits.benefits(role='article')
          h3 Benefits
          p
            | Why participate? For recognition, inspiration, and a resource we can all refer to showing people how amazing 
            abbr(title='Cascading Style Sheets') CSS
            |  really can be. This site serves as equal parts inspiration for those working on the web today, learning tool for those who will be tomorrow, and gallery of future techniques we can all look forward to.
        #zen-requirements.requirements(role='article')
          h3 Requirements
          p
            | Where possible, we would like to see mostly 
            abbr(title='Cascading Style Sheets, levels 1 and 2') CSS 1 & 2
            |  usage. 
            abbr(title='Cascading Style Sheets, levels 3 and 4') CSS 3 & 4
            |  should be limited to widely-supported elements only, or strong fallbacks should be provided. The CSS Zen Garden is about functional, practical 
            abbr(title='Cascading Style Sheets') CSS
            |  and not the latest bleeding-edge tricks viewable by 2% of the browsing public. The only real requirement we have is that your 
            abbr(title='Cascading Style Sheets') CSS
            |  validates.
          p
            | Luckily, designing this way shows how well various browsers have implemented 
            abbr(title='Cascading Style Sheets') CSS
            |  by now. When sticking to the guidelines you should see fairly consistent results across most modern browsers. Due to the sheer number of user agents on the web these days — especially when you factor in mobile — pixel-perfect layouts may not be possible across every platform. That’s okay, but do test in as many as you can. Your design should work in at least IE9+ and the latest Chrome, Firefox, iOS and Android browsers (run by over 90% of the population).
          p
            | We ask that you submit original artwork. Please respect copyright laws. Please keep objectionable material to a minimum, and try to incorporate unique and interesting visual themes to your work. We’re well past the point of needing another garden-related design.
          p
            | This is a learning exercise as well as a demonstration. You retain full copyright on your graphics (with limited exceptions, see 
            a(href='http://www.mezzoblue.com/zengarden/submit/guidelines/') submission guidelines
            | ), but we ask you release your 
            abbr(title='Cascading Style Sheets') CSS
            |  under a Creative Commons license identical to the 
            a(href='http://creativecommons.org/licenses/by-nc-sa/3.0/', title="View the Zen Garden's license information.") one on this site
            |  so that others may learn from your work.
          p(role='contentinfo')
            | By 
            a(href='http://www.mezzoblue.com/') Dave Shea
            | . Bandwidth graciously donated by 
            a(href='http://www.mediatemple.net/') mediatemple
            | . Now available: 
            a(href='http://www.amazon.com/exec/obidos/ASIN/0321303474/mezzoblue-20/') Zen Garden, the book
            | .
        footer
          a.zen-validate-html(href='http://validator.w3.org/check/referer', title='Check the validity of this site’s HTML') HTML
          a.zen-validate-css(href='http://jigsaw.w3.org/css-validator/check/referer', title='Check the validity of this site’s CSS') CSS
          a.zen-license(href='http://creativecommons.org/licenses/by-nc-sa/3.0/', title='View the Creative Commons license of this site: Attribution-NonCommercial-ShareAlike.') CC
          a.zen-accessibility(href='http://mezzoblue.com/zengarden/faq/#aaa', title='Read about the accessibility of this site') A11y
          a.zen-github(href='https://github.com/mezzoblue/csszengarden.com', title='Fork this site on Github') GH
      aside.sidebar(role='complementary')
        .wrapper
          #design-selection.design-selection
            h3.select Select a Design:
            nav(role='navigation')
              ul
                li
                  a.design-name(href='/221/') Mid Century Modern
                  |  by						
                  a.designer-name(href='http://andrewlohman.com/') Andrew Lohman
                li
                  a.design-name(href='/220/') Garments
                  |  by						
                  a.designer-name(href='http://danielmall.com/') Dan Mall
                li
                  a.design-name(href='/219/') Steel
                  |  by						
                  a.designer-name(href='http://steffen-knoeller.de') Steffen Knoeller
                li
                  a.design-name(href='/218/') Apothecary
                  |  by						
                  a.designer-name(href='http://trentwalton.com') Trent Walton
                li
                  a.design-name(href='/217/') Screen Filler
                  |  by						
                  a.designer-name(href='http://elliotjaystocks.com/') Elliot Jay Stocks
                li
                  a.design-name(href='/216/') Fountain Kiss
                  |  by						
                  a.designer-name(href='http://jeremycarlson.com') Jeremy Carlson
                li
                  a.design-name(href='/215/') A Robot Named Jimmy
                  |  by						
                  a.designer-name(href='http://meltmedia.com/') meltmedia
                li
                  a.design-name(href='/214/') Verde Moderna
                  |  by						
                  a.designer-name(href='http://www.mezzoblue.com/') Dave Shea
          #design-archives.design-archives
            h3.archives Archives:
            nav(role='navigation')
              ul
                li.next
                  a(href='/214/page1')
                    | Next Designs 
                    span.indicator ›
                li.viewall
                  a(href='http://www.mezzoblue.com/zengarden/alldesigns/', title='View every submission to the Zen Garden.')
                    | View All Designs
          #zen-resources.zen-resources
            h3.resources Resources:
            ul
              li.view-css
                a(href='/214/214.css', title='View the source CSS file of the currently-viewed design.')
                  | View This Design’s 
                  abbr(title='Cascading Style Sheets') CSS
              li.css-resources
                a(href='http://www.mezzoblue.com/zengarden/resources/', title='Links to great sites with information on using CSS.')
                  abbr(title='Cascading Style Sheets') CSS
                  |  Resources
              li.zen-faq
                a(href='http://www.mezzoblue.com/zengarden/faq/', title='A list of Frequently Asked Questions about the Zen Garden.')
                  abbr(title='Frequently Asked Questions') FAQ
              li.zen-submit
                a(href='http://www.mezzoblue.com/zengarden/submit/', title='Send in your own CSS file.')
                  | Submit a Design
              li.zen-translations
                a(href='http://www.mezzoblue.com/zengarden/translations/', title='View translated versions of this page.')
                  | Translations
    //
      These superfluous divs/spans were originally provided as catch-alls to add extra imagery.
      These days we have full ::before and ::after support, favour using those instead.
      These only remain for historical design compatibility. They might go away one day.
    .extra1(role='presentation')
    .extra2(role='presentation')
    .extra3(role='presentation')
    .extra4(role='presentation')
    .extra5(role='presentation')
    .extra6(role='presentation')
